@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(47, 47, 238);
    border-radius: 3px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(47, 47, 238);
}